<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	
<listeners>
  <!-- Allure TestNG adapter listener -->
  <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
  <!-- Your custom listener to attach screenshots/throwables -->
  <listener class-name="com.parabank.testutilities.AllureTestListener"/>
</listeners>
	
	

  <test name="TC_parabank_login">
  <parameter name="browser" value="Chrome"/>
  <parameter name="URL" value="https://parabank.parasoft.com/parabank/index.htm"/>
    <classes>
     <class name="com.parabank.testcases.TC_parabank_login"/>
    </classes>
  </test>
  
  <test name="TC_parabank_registration">
  <parameter name="browser" value="Chrome"/>
  <parameter name="URL" value="https://parabank.parasoft.com/parabank/register.htm"/>
    <classes>
     <class name="com.parabank.testcases.TC_parabank_registration"/>
    </classes>
  </test>
 
  

  
</suite>