<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test name="TC_parabank_login">
  <parameter name="browser" value="Chrome"/>
  <parameter name="URL" value="https://parabank.parasoft.com/parabank/index.htm"/>
    <classes>
     <class name="com.parabank.testcases.TC_parabank_login"/>
    </classes>
  </test>
  
  <test name="TC_parabank_registration">
  <parameter name="browser" value="Chrome"/>
  <parameter name="URL" value="https://parabank.parasoft.com/parabank/register.htm"/>
    <classes>
     <class name="com.parabank.testcases.TC_parabank_registration"/>
    </classes>
  </test>
 
  

  
</suite>